
.navbar{
	background: black !important;
	border-bottom: none;
}

.jumbotron{
	background-color: unset  !important;
	height: 650px !important;
	margin-top: 2em;
	background-size: cover;
	color:white !important;
	z-index: 999 !important;
	font-family: 'Indie Flower', cursive;
}

.jumbotron h1{
	font-family: 'VT323', monospace;
	font-size: 45px;
	margin-top: 230px;
}
.navbar a{
	font-size: 25px  !important;
	color: #E2E2E2 !important;
}

h2{
	margin-top: 70px !important;
	font-family: 'Yanone Kaffeesatz', sans-serif !important;
	font-size: 45px !important;
}
section#home{
	margin-top: 70px !important;
}

section#home h3{
	font-size: 32px !important;
	font-family: 'Caveat Brush', cursive;
	vertical-align: middle !important;
	padding-top: 30px;
}

section#aboutMe p{
	font-size: 25px;
	font-family: 'Cabin', sans-serif !important;
}

section#hobbies h3{
	font-family: 'Indie Flower', cursive;
}

section#hobbies{
	margin-bottom: 30px !important;
	padding-bottom: 20px;
	font-family: 'Cabin', sans-serif !important;
	font-size: 25px;
}
section#hobbies img{
	width: 70px;
}

section#video{
	margin-bottom: 40px !important ;
}

div#resp{
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
}

div#resp iframe{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer{
	margin-top: 30px;
	height: 140px;
	background: black;
}

footer img{
	width: 120px;
}

.row{
    margin:0px !important;
}
