@font-face {
  font-family: ostrich;
  src: url(../fonts/ostrich.otf);
}
.parallax {
  background-image: url("../img/material_design-wallpaper-2400x1350.jpg");
  min-height: 650px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* This way you can override default css without using !important, try to use the less importants you can */
#header .navbar{
	background: rgba(0, 0, 0, 0.24);
	border-bottom: none ;
	font-size: 16px ;
	font-family: ostrich;
}
#inicio h1, #inicio p {animation: fadein 3s;}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#aboutMe, #hobbies{margin-top: 70px;}
#aboutMe{
	background-color: #32506e;
	color: #fff;
}
.jumbotron{
	text-align: center;
	color:white !important;
	z-index: 999 !important;
	font-family: 'Indie Flower', cursive;
	background-attachment: fixed !important;;
}
.jumbotron h1{
	font-family: 'VT323', monospace;
	font-size: 45px;
	margin-top: 230px;
}
.navbar a{
	font-size: 25px  !important;
	color: #E2E2E2 !important;
}
h2{
	font-family: 'Yanone Kaffeesatz', sans-serif !important;
	font-size: 45px !important;
}
section#home{margin-top: 70px !important;}
section#home h3{
	font-size: 32px !important;
	font-family: 'Caveat Brush', cursive;
	vertical-align: middle !important;
	padding-top: 30px;
}
section#aboutMe p{
	font-size: 25px;
	font-family: 'Cabin', sans-serif !important;
}
section#hobbies h3{font-family: 'Indie Flower', cursive;}
section#hobbies{
	margin-bottom: 30px !important;
	padding-bottom: 20px;
	font-family: 'Cabin', sans-serif !important;
	font-size: 25px;
}
section#hobbies img{width: 70px;}
section#video{margin-bottom: 40px !important;}
div#resp{
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
}
div#resp iframe{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
footer{
	margin-top: 30px;
	height: 170px;
	background: black;
	color:white;
}
footer img{width: 110px;}
footer figure {margin:5px 0px;}
@media screen and (max-width: 1048px){
	.navbar-brand{display:none !important;}
}


